/************************* PC *************************/
* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.container {
    width: 70%;
    margin: auto;
}

header {
    width: 100%;
    height: auto;
}

.header-logo {
    width: 112px;
    height: 66px;
    margin-top: 3%;
    margin-left: 3%;
}

.navigation-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 3%;
    padding-left: 3%;
}


.navigation,
.navigation-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation-items {
    padding-bottom: 2%;
}

.navigation-items:not(:last-child) {
    margin-right: 3%;
}

.navigation-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 3px;
}


.navigation-link {
    color: black;
    font-family: Roboto;
    font-size: 20px;
}


.navigation-link:hover {
    text-decoration: underline;
}

.producer-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;

}


.producer-block-header-with-slogan {
    width: 50%;
    margin-bottom: 10%;
    margin-left: 3%;
}

.producer-block-header-with-slogan h1 {
    font-family: 'Roboto-Slab', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 81px;
    margin-top: 7%;
}

.producer-block-slogan {
    font-size: 20px;
    margin-top: 2%;
}

.producer-img {
    width: 304px;
    height: 356px;
    margin-right: 5%;
}

.producer-text {
    width: 30%;
    font-size: 25px;
    line-height: 35px;
    color: white;
    background-color: #1E4681;
    position: relative;
    margin: 2% auto 0;
    bottom: 0;
    left: 0;
    padding: 1%;
}

.producer-name {
    font-size: 20px;
    display: block;
    text-align: right;
    margin-top: 3%;
}

.about-course-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 10%;
}

.about-course-container h2 {
    font-size: 55px;
    margin-bottom: 10%;
}

.about-course-text {
    width: 50%;
    font-size: 24px;
    line-height: 36px;
}

.about-course-text p:not(:last-child) {
    margin-bottom: 8%;
}

.operator-img {
    width: 369px;
    height: 365px;
}



/************************* TAB *************************/
/*
@media(min-width: 1279px) and (min-width: 991px) {
    .header-logo {
        width: 65px;
        height: 39px;
    }

    .navigation-icon {
        width: 13px;
        height: 13px;
    }

    .navigation-link {
        font-size: 13px;
    }

    .producer-block-header-with-slogan {
        width: 40%;
        margin-left: 2%;
        margin-bottom: 10%;
    }

    .producer-block-slogan {
        font-size: 10px;
    }

    .producer-img {
        width: 160px;
        height: 190px;
        margin-right: 25%;
    }

    .producer-text {
        font-size: 10px;
        color: white;
        background-color: #1E4681;
        position: relative;
        margin: 2% auto 0;
        bottom: 0;
        left: 0;
        width: 25%;
        padding: 1%;
    }

    .producer-name {
        font-size: 8px;
        display: block;
        text-align: right;
        margin-top: 2%;
    }
}
*/

/************************* MOBILE *************************/
/*
@media (min-width: 150px) and (max-width: 991px) {
    h1 {
        font-size: 25px;
        font-weight: 700;
    }

    .header-logo {
        width: 52px;
        height: 31px;
    }

    .navigation-icon {
        width: 10px;
        height: 10px;
    }

    .navigation-link {
        font-size: 10px;
    }

    .producer-block-slogan {
        font-size: 10px;
    }

    .producer-img {
        width: 140px;
        height: 170px;
        margin-right: 28%;
    }

    .producer-text {
        font-size: 10px;
        color: white;
        background-color: #1E4681;
        position: relative;
        margin: 2% auto 0;
        bottom: 0;
        left: 0;
        width: 20%;
        padding: 1%;
    }

    .producer-name {
        font-size: 8px;
        display: block;
        text-align: right;
        margin-top: 2%;
    }
}
*/