* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: Roboto, sans-serif;
}

h1 {
    font-family: 'Roboto-Slab', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 100%;
    margin-left: 3%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.container {
    width: 70%;
    margin: auto;
}


/************************* HEADER *************************/
header {
    width: 100%;
    height: auto;
}


/************************* .header-logo *************************/
.header-logo {
    margin-top: 3%;
    margin-left: 3%;
}


/************************* .navigation-container *************************/
.navigation-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3%;
}


.navigation,
.navigation-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation-items {
    padding-bottom: 2%;
}

.navigation-items:not(:last-child) {
    margin-right: 3%;
}

.navigation-icon {
    margin-right: 0.3125em;
}


.navigation-link {
    color: black;
    font-family: Roboto;
}


.navigation-link:hover {
    text-decoration: underline;
}

/************************* .producer-block *************************/

.poducer-block {
    position: relative;
    width: 100%;
    height: auto;
}

.producer-block-slogan {
    margin-left: 3%;
}

.producer-text {
    margin: auto;
    color: white;
    background-color: #1E4681;
    width: 30%;
    font-size: 11px;
    line-height: 150%;
    padding: 2%;
}

.producer-name {
    display: block;
    font-size: 9px;
    text-align: right;
}


/*@media(max-width: 1280px) {
    .producer-img {
        width: 180px;
        height: 210px;
        left: 50%;
        bottom: 130px;
    }
}

@media(max-width: 1279px) and (min-width: 992px) {
    .producer-img {
        width: 150px;
        height: 180px;
        left: 50%;
        bottom: 130px;
    }
}

@media(max-width: 991px) and (min-width: 320px) {
    .producer-img {
        width: 150px;
        height: 180px;
        left: 50%;
        bottom: 130px;
    }
}
/*