* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: Roboto, sans-serif;
}

h1 {
    font-family: 'Roboto-Slab', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 100%;
    margin-left: 3%;
}

@media(max-width: 1279px) {
    h1 {
        font-size: 46px;
        font-weight: 700;
    }
}

@media(max-width: 991px) {
    h1 {
        font-size: 30px;
        font-weight: 700;
    }
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.container {
    width: 70%;
    margin: auto;
}


/************************* HEADER *************************/
header {
    width: 100%;
    height: auto;
}


/************************* .header-logo *************************/
.header-logo {
    margin-top: 3%;
    margin-left: 3%;
}

@media(min-width: 1280px) {
    .header-logo {
        width: 112px;
        height: 66px;
    }
}

@media(max-width: 1279px) {
    .header-logo {
        width: 65px;
        height: 39px;
    }
}

@media(max-width: 991px) {
    .header-logo {
        width: 52px;
        height: 31px;
    }
}


/************************* .navigation-container *************************/
.navigation-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3%;
}


.navigation,
.navigation-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation-items {
    padding-bottom: 2%;
}

.navigation-items:not(:last-child) {
    margin-right: 3%;
}

.navigation-icon {
    margin-right: 0.3125em;
}

@media(min-width: 1280px) {
    .navigation-icon {
        width: 22px;
        height: 22px;
    }
}

@media(max-width: 1279px) {
    .navigation-icon {
        width: 13px;
        height: 13px;
    }
}

@media(max-width: 991px) {
    .navigation-icon {
        width: 10px;
        height: 10px;
    }
}


.navigation-link {
    color: black;
    font-family: Roboto;
}

@media(min-width: 1280px) {
    .navigation-link {
        font-size: 16px;
    }
}

@media(max-width: 1279px) {
    .navigation-link {
        font-size: 18px;
    }
}

@media(max-width: 991px) {
    .navigation-link {
        font-size: 10px;
    }
}

.navigation-link:hover {
    text-decoration: underline;
}

/************************* .producer-block *************************/

.poducer-block {
    width: 100%;
    height: auto;
}

.producer-block-slogan {
    margin-left: 3%;
}

@media(max-width: 1920px) and (min-width: 1280px) {
    .producer-block-slogan {
        font-size: 20px;
    }
}

@media(max-width: 1279px) and (min-width: 992px) {
    .producer-block-slogan {
        font-size: 12px;
    }
}

@media(max-width: 991px) and (min-width:320px) {
    .producer-block-slogan {
        font-size: 10px;
    }
}

.producer-img {
    width: 180px;
    height: 210px;
}


/*@media(max-width: 1280px) {
    .producer-img {
        width: 180px;
        height: 210px;
        left: 50%;
        bottom: 130px;
    }
}

@media(max-width: 1279px) and (min-width: 992px) {
    .producer-img {
        width: 150px;
        height: 180px;
        left: 50%;
        bottom: 130px;
    }
}

@media(max-width: 991px) and (min-width: 320px) {
    .producer-img {
        width: 150px;
        height: 180px;
        left: 50%;
        bottom: 130px;
    }
}
/*